---
layout: default
---

{% capture content %}
<div class="text-center">
  <h2>Jacob Hummel</h2>
  <h1>Software Developer</h1>
</div>
{% endcapture %}

{% include components/section.html name="intro" inverse="true" %}

{% capture content %}
<div class="row">
  <div class="col-md-6">
    <h1>I am human</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae lacinia orci. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Mauris bibendum suscipit quam, ac facilisis sapien volutpat et. Sed eu mattis ante,
      in aliquet est. Donec feugiat ante a urna scelerisque posuere. Donec quis venenatis urna.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae lacinia orci. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Mauris bibendum suscipit quam, ac facilisis sapien volutpat et. Sed eu mattis ante,
      in aliquet est. Donec feugiat ante a urna scelerisque posuere. Donec quis venenatis urna.
    </p>
  </div>
  <div class="col-md-6">

  </div>
</div>
{% endcapture %}

{% include components/section.html name="who" %}
