---
layout: default
---

{% capture content %}

  {% include components/contact-card.html
      author="jacob"
    %}

{% endcapture %}

{% include components/section.html
    name="intro"
    color="primary-light"
  %}

{% capture content %}
<div class="row">
  <div class="col-md-12">
    <h1>Bio</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae lacinia orci. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Mauris bibendum suscipit quam, ac facilisis sapien volutpat et. Sed eu mattis ante,
      in aliquet est. Donec feugiat ante a urna scelerisque posuere. Donec quis venenatis urna.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae lacinia orci. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Mauris bibendum suscipit quam, ac facilisis sapien volutpat et. Sed eu mattis ante,
      in aliquet est. Donec feugiat ante a urna scelerisque posuere. Donec quis venenatis urna.
    </p>
  </div>
</div>
{% endcapture %}

{% include components/section.html name="bio" %}

{% capture content %}
<div class="row">
  <div class="col-md-12">
    <h1>Experience</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae lacinia orci. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Mauris bibendum suscipit quam, ac facilisis sapien volutpat et. Sed eu mattis ante,
      in aliquet est. Donec feugiat ante a urna scelerisque posuere. Donec quis venenatis urna.
    </p>

    <h2><i class="zmdi zmdi-graduation-cap"></i>Education</h2>

    {% for institution in site.data.education %}

      {% assign dates = institution.start_date | append: " - " | append: institution.end_date %}

      {% include components/cv-item.html
          title=institution.name
          dates=dates
          description=institution.my_experience
         %}

    {% endfor %}

    <h2><i class="zmdi zmdi-case"></i>Employment</h2>

    {% for employer in site.data.employment %}

      {% assign dates = employer.start_date | append: " - " | append: employer.end_date %}

      {% include components/cv-item.html
          title=employer.name
          dates=dates
          description=employer.my_experience
         %}

    {% endfor %}

  </div>
</div>
{% endcapture %}

{% include components/section.html name="experience" color="primary"  %}

{% capture content %}
<div class="row">
  <div class="col-md-12">
    <h1>Projects</h1>


    {% for project in site.data.projects %}

      {% include components/project-card.html
          project=project
         %}

    {% endfor %}

  </div>
</div>
{% endcapture %}

{% include components/section.html name="projects" color="grey" %}

{% capture content %}
<div class="row">
  <div class="col-md-12">
    <h1>Contact Me</h1>

    {% include components/contact-form.html %}
  </div>
</div>
{% endcapture %}

{% include components/section.html name="contact" color="primary-dark" %}
