---
layout: default
---

{% capture content %}

  {% include components/contact-card.html
      author="jacob"
    %}

{% endcapture %}

{% include components/section.html
    name="intro"
  %}

{% capture content %}
  <div class="row">
    <div class="col-md-12">
      <h1>Experience</h1>

      <h2><i class="zmdi zmdi-case"></i>Employment</h2>

      {% for item in site.data.employment %}

        {% include components/cv-item.html
            item=item
           %}

      {% endfor %}

      <h2><i class="zmdi zmdi-graduation-cap"></i>Education</h2>

      {% for item in site.data.education %}

        {% include components/cv-item.html
            item=item
           %}

      {% endfor %}


      <h2><i class="zmdi zmdi-laptop-mac"></i>Technologies</h2>

      {% for skill_level in site.data.technologies %}

        <h3>{{ skill_level.name }}</h3>

        {% for technology in skill_level.technologies %}

          {% include components/skill-icon.html
              name=technology.name
              icon=technology.icon
              photo=technology.photo
             %}

       {% endfor %}

      {% endfor %}

    </div>
  </div>
{% endcapture %}

{% include components/section.html name="experience"  %}

{% capture content %}
<div class="row">
  <div class="col-md-12">
    <h1>Projects</h1>


    {% for project in site.data.projects %}

      {% include components/project-card.html
          project=project
         %}

    {% endfor %}

  </div>
</div>
{% endcapture %}

{% include components/section.html name="projects" color="grey" %}

{% capture content %}
<div class="row">
  <div class="col-md-12">
    <h1>Contact</h1>

    {% include components/contact-form.html %}
  </div>
</div>
{% endcapture %}

{% include components/section.html name="contact" %}
