.background-primary-dark {
  background-color: $color-primary-dark;
  color: $text-color-inverse;
}

.background-primary {
  background-color: $color-primary;
  color: $text-color-inverse;
}

.background-primary-light {
  background-color: $color-primary-light;
  color: $text-color-inverse;
}

.background-accent-dark {
  background-color: $color-accent-dark;
  color: $text-color-inverse;
}

.background-accent-light {
  background-color: $color-accent-light;
  color: $text-color-inverse;
}

.background-grey {
  background-color: $grey-color-light;
  color: $text-color;
}
