h1 {
  margin: 0 0 50px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 2.8rem;
}

h2, h3 {
  margin: 45px 0 20px;

  i {
    margin-right: 15px;
  }
}

p {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
