
// Our variables
$header-font-family: 'Inconsolata', monospace;
$base-font-family: 'Roboto', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$color-primary-dark: rgba(29, 52, 97, 1);
$color-primary: rgba(31, 72, 126, 1);
$color-primary-light: rgba(55, 105, 150, 1);
$color-accent-dark: rgba(98, 144, 200, 1);
$color-accent-light: rgba(130, 156, 188, 1);

$text-color:       #1E1E1E;
$text-color-inverse: #fff;
$background-color: #fff;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

@import "bootstrap/variables";
