{% assign author = site.data.people[include.author] %}
<div class="contact-card">
  <img class="contact-card--img" src="{{ author.avatar }}" />
  <div class="contact-card--description">
    <h1 class="contact-card--name">{{ author.name }}</h1>
    <h2 class="contact-card--title">{{ author.title }}</h2>
    <div class="contact-card--social">
      <a href="mailto:{{ author.email }}"><i class="zmdi zmdi-email"></i></a>
      <a href="https://twitter.com/{{ author.twitter }}"><i class="zmdi zmdi-twitter"></i></a>
      <a href="https://linkedin.com/in/{{ author.linkedin }}"><i class="zmdi zmdi-linkedin"></i></a>
    </div>
    <p>
      {{ author.bio }}
    </p>
  </div>
</div>
