{% assign author = site.data.people['jacob'] %}
<form class="form-horizontal"  action="https://formspree.io/{{ author.email }}" method="POST">
  <fieldset class="row">

    <div class="col-md-12">
      <label class="help-block" for="name">Social Links</label>
      <div class="contact-card--social">
        <a href="mailto:{{ author.email }}"><i class="zmdi zmdi-email"></i></a>
        <a href="https://twitter.com/{{ author.twitter }}"><i class="zmdi zmdi-twitter"></i></a>
        <a href="https://linkedin.com/in/{{ author.linkedin }}"><i class="zmdi zmdi-linkedin"></i></a>
      </div>
    </div>

    <input type="text" name="_gotcha" style="display:none" />
    <input type="hidden" name="_format" value="plain" />
    <input type="hidden" name="_next" value="{{ site.url }}/thanks/" />

    <!-- Name input-->
    <div class="col-md-12">
      <label class="help-block" for="name">Name</label>
      <input required id="name" name="name" type="text" placeholder="Your name" class="form-control">
    </div>

    <!-- Email input-->
    <div class="col-md-12">
      <label class="help-block" for="email">Email</label>
      <input required id="email" name="_replyto" type="email" placeholder="Your email" class="form-control">
    </div>

    <!-- Message body -->
    <div class="col-md-12">
      <label class="help-block" for="message">Message</label>
      <textarea required class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
    </div>

    <!-- Form actions -->
    <div class="col-md-12">
      <div class="text-right">
        <input id="sendEmail" type="submit" class="btn btn-primary btn-lg" value="Send" />
      </div>
    </div>
  </fieldset>
</form>
