<div class="cv-item">
  <img class="cv-item--image" src="{{ include.item.image }}" />

  <div class="cv-item--description">
    <h4 class="cv-item--name">{{ include.item.name }}</h4>
    <p class="cv-item--dates">{{ include.item.date }}</p>
    <h4 class="cv-item--title">{{ include.item.title }}</h4>
    <p class="cv-item-description">{{ include.item.description }}</p>

    <div class="cv-item--stack">
      {% for technology in include.item.technologies %}

        {% include components/skill-icon.html
            name=technology.name
            icon=technology.icon
            photo=technology.photo
           %}

     {% endfor %}
    </div>
  </div>
</div>
