<article class="project-card" href="{{ include.project.website }}" target="_blank">
  <div class="project-card--img" style="background-image:url({{ include.project.image }})"></div>

  <div class="project-card--header">


    <a href="{{ include.project.website }}" target="_blank">
      <h3 class="project-card--title">{{ include.project.name }}</h3>
    </a>

  </div>

  <p class="project-card--description">{{ include.project.description }}</p>

  <div class="project-card--stack">
    {% for technology in include.project.technologies %}

      {% include components/skill-icon.html
          name=technology.name
          icon=technology.icon
          photo=technology.photo
         %}

   {% endfor %}
  </div>
</article>
