<article class="project-card" href="{{ include.project.website }}" target="_blank">
  <div class="project-card--img" style="background-image:url({{ include.project.image }})"></div>

  <div class="project-card--header clearfix">

    <h3 class="project-card--title">{{ include.project.name }}</h3>
    <a class="project-card--link" href="{{ include.project.website }}" target="_blank">{{ include.project.website | remove: "http://" | remove: "https://" }}</a>

  </div>

  <p class="project-card--description">{{ include.project.description }}</p>

  <div class="project-card--stack">
    <h5>Technologies:</h5>
    {% for technology in include.project.technologies %}
      <span class="project-card--item">{{ technology }}</span>
    {% endfor %}
  </div>
</article>
