.contact-card {
  background: #fff;
  padding: 50px;
  border-radius: 8px;
  color: $text-color;
  box-shadow: 0 30px 30px rgba(155, 155, 155, 0.15);

  .contact-card--img {
    display: inline-block;
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 0 30px 25px 0;
    box-shadow: 0 30px 30px rgba(155, 155, 155, 0.15);
  }

  .contact-card--description {
    display: inline-block;


    @include media-query($on-palm) {
      width: calc(100% - 240px);
    }
  }

  .contact-card--name {
    font-size: 3rem;
    margin: 0 0 10px;
  }

  .contact-card--title {
    font-size: 2rem;
    margin: 0 0 10px;
  }

  .contact-card--social {
    margin-bottom: 10px;
  }

}

.contact-card--social a {
  font-size: 2.5rem;
  margin: 5px;
  color: lighten($text-color, 10%);

  @include hover-state {
    opacity: 0.8;
  }
}
