.cv-item {
  padding: 20px 0;

  @include media-query($on-laptop) {
    padding: 20px 0;
  }

  .cv-item--image {
      display: inline-block;
      float: left;
      width: 60px;
      height: 60px;
      margin: 0 20px 20px 0;
      border: 1px solid #eee;
      border-radius: 4px;
      box-shadow: 0 30px 30px rgba(155, 155, 155, 0.15);
  }

  .cv-item--description {
    display: inline-block;

    @include media-query($on-palm) {
      width: calc(100% - 80px);
    }
  }

  .cv-item--name {
    margin-bottom: 8px;
  }

  .cv-item--dates {
    color: $text-color;
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .cv-item--title {
    color: $text-color;
    font-weight: bold;
  }

  .cv-item--stack {
    padding: 5px 0;

    .skill-icon {
      padding: 5px;

      i {
        font-size: 2.5rem;
        color: $grey-color;
      }

      img {
        max-height: 30px;
      }

      p {
        display: none;
      }
    }


  }

}
