.cv-item {
  padding: 0 60px 50px;
  margin-left: 30px;
  border-left: 2px solid #fff;


  .cv-item--title {
    font-size: 2rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      border: 3px solid #fff;
      border-radius: 50%;
      background: $color-primary;
      transition: all 0.3s;
      top: 4px;
      left: -68px;
      z-index: 2;
    }
  }

  .cv-item--dates {
    font-size: 1.6rem;
    font-family: $header-font-family;
  }

  .cv-item-description {

  }

}
