.section {
  padding: 10vh 0;

  @include media-query($on-palm) {
    padding: 100px 0;
  }

  &.section--inverse {
    background: $grey-color-dark;
    color: $text-color-inverse;
  }
}

.section--intro {
  background-image: url(/assets/img/outdoors.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: inset 1px 0 10px rgba(77,77,77,0.4);
}

.section--experience {
  .container {
    max-width: 600px;
  }

  h2 {
    margin: 80px 0 40px;
  }
}

.section--skills {

  .core-skills {
    margin: 60px 0 100px;

    .skill-icon {
      padding: 8px;
      min-width: 160px;
      margin: 10px 1px;

      i {
        font-size: 4rem;
      }
    }
  }
}

.section--projects {
  .container {
    max-width: 900px;
  }
}
