.skill-icon {
  display: inline-block;
  text-align: center;
  margin: 10px 4px;
  min-width: 60px;

  @include media-query($on-palm) {
    min-width: 100px;
  }

  i {
    font-size: 4rem;
  }

  img {
    vertical-align: text-bottom;
    max-height: 40px;
  }

  p {
    font-size: 1.3rem;
    margin: 10px 0;
  }
}
