.skill-icon {
  display: inline-block;
  text-align: center;
  padding: 10px 25px 10px 5px;

  i {
    font-size: 5rem;
  }

  img {
    vertical-align: text-bottom;
  }

  p {
    margin: 10px 0;
  }
}
