.skill-icon {
  display: inline-block;
  text-align: center;
  padding: 10px 5px;
  min-width: 88px;

  i {
    font-size: 4rem;
  }

  img {
    vertical-align: text-bottom;
    max-height: 40px;
  }

  p {
    margin: 10px 0;
  }
}
